<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg ar_model)">
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_macro.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper_macro.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar.ros2_control.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper.ros2_control.xacro" />

  <xacro:arg name="simulation_controllers" default="" />

  <link name="world" />
  <xacro:ar_robot 
    parent="world"
    robot_parameters_file="$(find annin_ar4_description)/config/$(arg ar_model).yaml"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ar_robot>
  <xacro:ar_gripper parent="ee_link" />

  <xacro:ar_ros2_control
    ar_model="$(arg ar_model)"
    plugin_name="gz_ros2_control/GazeboSimSystem"
    serial_port="None"
    calibrate="False"
    robot_parameters_file="$(find annin_ar4_description)/config/$(arg ar_model).yaml"
    joint_offset_parameters_file="$(find annin_ar4_driver)/config/joint_offsets/$(arg ar_model).yaml"
    driver_parameters_file="$(find annin_ar4_driver)/config/driver.yaml"
  />

  <xacro:ar_gripper_ros2_control
    name="ARGripperGazeboSystem"
    plugin_name="gz_ros2_control/GazeboSimSystem"
    serial_port="None"
  />

  <gazebo reference="world" />
  <gazebo>
    <plugin filename="libgz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <ros>
        <namespace>$(arg namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>
</robot>